/*!
 *  delivery-boy (https://github.com/mkloubert/delivery-boy) by Marcel Joachim Kloubert <marcel.kloubert@gmx.net>
 *  License - https://www.gnu.org/licenses/gpl-3.0.en.html
 */

body {
    display: table;
}

#dboy-content-wrapper {
    display: table-row-group;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#dboy-content-wrapper .dboy-content {
    background: #000;
    display: table-row;
    overflow: hidden;
}

#dboy-content-wrapper .dboy-content .dboy-areas {
    display: table;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-area {
    display: table-cell;
    overflow: hidden;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-area .dboy-content {
    background-color: transparent;
    display: table;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-area .dboy-content .dboy-row {
    display: table-row;
    overflow: hidden;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-left {
    background-color: #333333;
    width: 50px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-left .dboy-menuarea {
    display: table;
    overflow: hidden;
    width: 100%;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-left .dboy-menuarea .dboy-icon {
    color: #9e9e9e;
    display: table-row;
    cursor: pointer;
    font-size: 24px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-left .dboy-menuarea .dboy-icon:hover,
#dboy-content-wrapper .dboy-content .dboy-areas .dboy-left .dboy-menuarea .dboy-icon.dboy-selected {
    color: #fff;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-left .dboy-menuarea .dboy-icon i.fa {
    padding-top: 21px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle {
    background-color: #252526;
    width: 320px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-right {
    background-color: #1e1e1e;
}

#dboy-content-wrapper .dboy-statusbar {
    background: #007acc;
    color: #fff;
    display: table-row;
    height: 24px;
    overflow: hidden;
}

#dboy-content-wrapper > div.dboy-content > div > div.dboy-area.dboy-middle > div,
#dboy-content-wrapper > div.dboy-content > div > div.dboy-area.dboy-right > div {
    position: relative;
    top: -29px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list {
    display: table-cell;
    overflow: hidden;
    position: relative;
    top: 16px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list h3 {
    display: block;
    margin: 0;
    padding: 0px 8px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list p {
    display: block;
    margin: 0;
    padding: 8px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item {
    display: block;
    padding: 8px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-file {
    clear: both;
    display: block;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-file .dboy-name {
    float: left;
    font-weight: bold;
    max-width: 128px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-file .dboy-size,
#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-file .dboy-sources {
    font-size: 0.75em;
    position: relative;
    top: 4px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-file .dboy-size {
    float: left;
    margin-left: 8px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-file .dboy-sources {
    float: right;
    font-weight: bold;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-progress {
    clear: both;
    display: block;
    padding-top: 4px;
}

#dboy-content-wrapper .dboy-content .dboy-areas .dboy-middle .dboy-transfer .dboy-list .dboy-item .dboy-progress .dboy-progress-bar {
    background-color: green;
    display: block;
    overflow: hidden;
    height: 6px;
}
