
body, html { 
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #000;
    color: #989898;
	font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
    font-size: 12px;
}
