/*!
 *  delivery-boy (https://github.com/mkloubert/delivery-boy) by Marcel Joachim Kloubert <marcel.kloubert@gmx.net>
 *  License - https://www.gnu.org/licenses/gpl-3.0.en.html
 */
 
body, html { 
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #000;
    color: #989898;
	font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
    font-size: 12px;
}
