
body {
    background-color: #1e1e1e;
    color: #989898;
	font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";
    margin: 0;
    padding: 0;
}
